$primary-color: lightpink;

h1 {
	color: lightpink;
}

html,body {
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
}

body {
	width: 100%;
}

div.container {
	width: 960px;
	margin: auto;
}

.user-card {
	width: 450px;
	float: left;
	margin: 15px;
	border-style: solid;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px;
	color: $primary-color;
	text-align: center;
	background-color: white;
	border-color: $primary-color;
}